@use '@carbon/styles/scss/spacing';
@import '~@openmrs/esm-styleguide/src/vars';

.tileContainer {
  background-color: $ui-02;
  border-top: 1px solid $ui-03;
  padding: 5rem 0;
}

.tile {
  margin: auto;
  width: fit-content;
  background: transparent;
}

.tileContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tableOverride {
  :global(.cds--table-sort__description) {
    display: none;
  }
}
