@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@use '~@openmrs/esm-styleguide/src/vars' as *;

.header {
  @include type.type-style('body-compact-02');
  color: colors.$gray-70;
  height: layout.$spacing-12;
  background-color: $ui-02;
  display: flex;
  padding-left: 8px;
  justify-content: space-between;
}

.left-justified-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.right-justified-items {
  @include type.type-style('body-compact-02');
  color: colors.$gray-70;
  margin: 0.5rem;
}

.page-name {
  @include type.type-style('heading-04');
}

.page-labels {
  margin: 1rem;
}

.middot {
  margin: 0 0.5rem;
}

.date-and-location {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
}

.value {
  margin-left: 0.25rem;
}

.middot {
  margin: 0 0.5rem;
}

.view {
  @include type.type-style('label-01');
}