@use '@carbon/styles/scss/colors';
@use '@carbon/styles/scss/type';
@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.content {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-bottom: 0.5rem;
}

.helper {
  @include type.type-style('body-compact-01');
  color: $text-02;
}

.separator {
  @include type.type-style('body-compact-02');
  color: $text-02;
  width: 80%;
  margin: 1.5rem auto;
  overflow: hidden;
  text-align: center;

  &::before,
  &::after {
    background-color: $text-03;
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &::before {
    right: 0.5rem;
    margin-left: -50%;
  }

  &::after {
    left: 0.5rem;
    margin-right: -50%;
  }
}

.tileContainer {
  background-color: $ui-02;
  border-top: 1px solid $ui-03;
  padding: 5rem 0;
}

.tile {
  margin: auto;
  width: fit-content;
}

.tileContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statusContainer {
  display: flex;
  margin: 10px;
  gap: 1rem;
}

.textHeading {
  font-weight: bold;
}

.statusDescriptions {
  margin-top: 4px;

  .text {
    margin-right: 4px;
  }
}

.filterContainer {
  display: flex;
  align-items: center;
}

.dateAlign {
  padding-top: layout.$spacing-03;
  height: 100%;
}
