@use '@carbon/colors';
@use '@carbon/layout';

.homePageWrapper {
  display: flex;
}

.dashboardContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin: 0;
  margin-left: 16rem;
  background-color: colors.$gray-10;

  & a {
    width: 100%;
  }
}

.dashboardContainerTablet {
  flex-grow: 1;
}

.logoSection {
  display: flex;
  justify-content: center;
}
