@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@import '~@openmrs/esm-styleguide/src/vars';

.dataTable {
  width: 100%;
}

.availability {
  font-size: 0.875rem;

  .outOfStock {
    color: #da1e28;
  }
}

.heading {
  text-align: left;
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: layout.$spacing-03 0 layout.$spacing-03 0;

  h4 {
    @include type.type-style('heading-compact-02');
    color: colors.$gray-70;

    &:after {
      content: '';
      display: block;
      width: 2rem;
      padding-top: 3px;
      border-bottom: 0.375rem solid;
      @include brand-03(border-bottom-color);
    }
  }
}

.btnSet {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  gap: layout.$spacing-03;
  align-items: center;
  margin-top: layout.$spacing-03;
}
