@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.section {
  margin: layout.$spacing-03;
}

.form {
  display: grid;
  gap: 1.5rem;
  padding-top: 1rem;
}
