@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';
@use '~@openmrs/esm-styleguide/src/vars' as *;
.cardContainer {
  background-color: colors.$white;
  display: flex;
  justify-content: space-between;
  margin: 0 layout.$spacing-05 0 layout.$spacing-05;
  flex-flow: row wrap;
  column-gap: layout.$spacing-05;
  row-gap: layout.$spacing-05;
}
