@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.section {
  margin: spacing.$spacing-03;
}

.sectionTitle {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-bottom: spacing.$spacing-04;
}

.subTitle {
  font-size: 14px;
  margin-bottom: spacing.$spacing-04;
}

.modalBody {
  padding-bottom: spacing.$spacing-05;
}

.checkboxGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust the values as needed */
  gap: 16px; /* Adjust the gap between checkboxes */
}

.hr {
  border: 1px solid #000;
}

.toggle {
  margin: 5px;
}

.checkbox {
  width: 100%;
}

.userScopeContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
  height: 100%;
}

.formFooter {
  display: flex;
  gap: 1rem; /* Space between buttons */
  margin-top: 1rem;
}

.button {
  flex: 1; /* Each button takes equal and full width */
  padding: 1rem;
}
