@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.section {
  margin: spacing.$spacing-03;
}
.sectionScroll {
  margin: spacing.$spacing-03;
  height: 200px;
  width: 60%;
  overflow-y: auto;
  max-height: 200px;
  border: 1px solid #ddd;
}

.checkboxGridScroll {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.checkboxItem {
  display: flex;
  flex-direction: row;
  margin: 4px 0;
  padding:5px;
  gap: 8px;
}

.sectionTitle {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-bottom: spacing.$spacing-04;
}

.subTitle {
  font-size: 14px;
  margin-bottom: spacing.$spacing-04;
}

.modalBody {
  padding-bottom: spacing.$spacing-05;
}

.checkboxGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
}

.hr {
  border: 1px solid #000;
}

.toggle {
  margin: 5px;
}

.checkbox{
  width: 100%;
}