@use '@carbon/layout';
@use '@carbon/type';
@use '~@openmrs/esm-styleguide/src/vars' as *;

.bodyText {
    @include type.type-style('body-long-01');
  }

.modalHeader {
    @include type.type-style('heading-compact-02');
  }
