@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@use '~@openmrs/esm-styleguide/src/vars' as *;

.content {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-bottom: 0.5rem;
}

.helper {
  @include type.type-style('body-compact-01');
  color: $text-02;
}

.separator {
  @include type.type-style('body-compact-02');
  color: $text-02;
  width: 80%;
  margin: layout.$spacing-06 auto;
  overflow: hidden;
  text-align: center;

  &::before,
  &::after {
    background-color: $text-03;
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &::before {
    right: layout.$spacing-03;
    margin-left: -50%;
  }

  &::after {
    left: layout.$spacing-03;
    margin-right: -50%;
  }
}

.tileContainer {
  background-color: $ui-02;
  border-top: 1px solid $ui-03;
  padding: layout.$spacing-11 0;
}

.tile {
  margin: auto;
  width: fit-content;
}

.tileContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbarAction {
  max-width: none;
}
