@use '@carbon/layout';
@use '@carbon/type';
@use '~@openmrs/esm-styleguide/src/vars' as *;

.sectionTitle {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-bottom: layout.$spacing-04;
}

.modalBody {
  padding-bottom: layout.$spacing-05;
}

.actionsContainer {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.statusContainer {
  display: flex;
  margin-top: 4px;
  gap: 1rem;
}

.textHeading {
  font-weight: bold;
}

.statusDescriptions {
  margin-top: 4px;

  .text {
    margin-right: 4px;
  }
}

.actionButtons {
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.statusLabel {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.statusBody {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.relatedLink {
  margin-left: 2px;
  color: #0f62fe;
}
