@use '@carbon/layout';
@use '@carbon/type';
@use '~@openmrs/esm-styleguide/src/vars' as *;

.verticalForm {
  display: flex;
  grid-row-gap: 2em;
  padding-top: layout.$spacing-05;
  align-content: space-between;
  flex-direction: column;

    :global(.cds--form-item) {
    flex: none !important;
  }

  :global(.cds--label) {
    color: black;
    display: inline-block;
    font-size: var(--cds-label-01-font-size);
    font-weight: bold;
    letter-spacing: var(--cds-label-01-letter-spacing, .32px);
    line-height: layout.$spacing-05;
    margin-bottom: layout.$spacing-03;
    vertical-align: baseline;
  }
}

.formContainer {
    margin: layout.$spacing-05;
}
