.tableContainer {
  :global(.cds--data-table-content) {
    height: calc(100vh - 150px);
  }
}
.tableHeader {
  width: 3% !important;
}
.tableBody {
  display: flex;
  flex-direction: row;
  width: 3% !important;
  gap: 8px;
}
.dataTable {
  width: 100%;
}
.selectAllContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: flex-end;
}
