@use '@carbon/layout';
@use '@carbon/type';
@use '~@openmrs/esm-styleguide/src/vars' as *;

.textHeading {
  font-weight: bold;
}

.statusDescriptions {
  margin-top: 4px;

  .text {
    margin-right: 4px;
  }
}

.statusContainer {
  display: flex;
  margin: 10px;
  gap: layout.$spacing-05;
  flex-direction: column;
  padding: layout.$spacing-05;
}

.statusContainerRow {
  display: flex;
  width: 100%;
  border: none;
  justify-content: space-between;
  flex: 1;
}
