@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '../../../root.scss';
@import '~@openmrs/esm-styleguide/src/vars';

.widgetContainer {
  background-color: $ui-background;
}

.widgetHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: spacing.$spacing-04 0 spacing.$spacing-04 spacing.$spacing-05;
}

.widgetHeaderContainer > h4:after {
  content: '';
  display: block;
  width: 2rem;
  padding-top: 0.188rem;
  border-bottom: 0.375rem solid var(--brand-01);
}

.toggleButtons {
  width: fit-content;
  margin: 0 spacing.$spacing-03;
}

.searchField {
  width: 100%;
  max-width: 250px;
  border: 0px !important;
}

.searchBox {
  width: 100%;
  display: flex;
  justify-content: right;
}

.container {
  margin-top: 16px;
  margin-left: inherit;
  width: 100%;
  overflow-y: hidden;
}

.tabContainer {
  margin-top: 16px;
  padding-left: 1rem;
  background-color: #ffffff;
}

.patientListSearch {
  margin-right: 10px;
  padding-left: 20px;
  max-width: 16rem;

  input {
    background-color: $ui-02 !important;
  }
}

.tabContainer li button {
  width: 100% !important;
}

.tileContainer {
  background-color: $ui-02;
  border-top: 1px solid $ui-03;
  padding: 5rem 0;
}

.tile {
  margin: auto;
  width: fit-content;
}

.tileContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuItem {
  max-width: none;
}

.radioButtonGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: spacing.$spacing-03;
  min-height: spacing.$spacing-10;
  width: 100%;
  @include type.type-style('body-compact-01');
}

.radioButton {
  padding: spacing.$spacing-02 spacing.$spacing-02;
  margin: spacing.$spacing-03 0;
}

section {
  margin: spacing.$spacing-03;
}

.sectionTitle {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-bottom: spacing.$spacing-04;
}

.modalBody {
  padding-bottom: spacing.$spacing-05;
}

.tabContainer div[role='tabpanel'] {
  padding: 0 !important;
}

.tabContainer li button {
  width: 100% !important;
}

.tableContainer {
  margin: 0;
  padding: 0;
}

.search {
  max-width: 16rem;

  input {
    background-color: $ui-02 !important;
  }
}

.tableContainer {
  background-color: $ui-01;

  a {
    text-decoration: none;
  }

  tr {
    width: spacing.$spacing-01;
  }

  .toolbarContent {
    height: spacing.$spacing-09;
  }
}

.cds--table-sort__description {
  display: none;
}

.patientListDownload {
  margin-top: 10px;
}
