@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.form {
  margin: layout.$spacing-05;
}

.button {
  height: layout.$spacing-10;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.buttonSet {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.body {
  padding: 1rem;
}

.flexRow {
  display: flex;
  align-items: center;
}
