@use '@carbon/layout';
@use '@carbon/type';
@use '~@openmrs/esm-styleguide/src/vars' as *;

$ui-01: #f4f4f4;
$ui-02: #ffffff;
$ui-03: #e0e0e0;
$ui-05: #161616;
$ui-background: #ffffff;
$color-gray-70: #525252;
$color-blue-60-2: #0f62fe;
$color-yellow-50: #feecae;
$inverse-support-03: #f1c21b;
$warning-background: #fff8e1;
$openmrs-background-grey: #f4f4f4;
$danger: #da1e28;
$interactive-01: #0f62fe;
$brand-teal-01: #3197D9;
$button-primary: #0078A6;

.productiveHeading01 {
  @include type.type-style("heading-01");
}

.productiveHeading02 {
  @include type.type-style("heading-02");
}

.productiveHeading03 {
  @include type.type-style("productive-heading-03");
}

.productiveHeading04 {
  @include type.type-style("productive-heading-04");
}

.productiveHeading05 {
  @include type.type-style("productive-heading-05");
}

.productiveHeading06 {
  @include type.type-style("productive-heading-06");
}

.bodyShort01 {
  @include type.type-style("body-short-01");
}

.helperText01 {
  @include type.type-style("helper-text-01");
}

.bodyShort02 {
  @include type.type-style("body-short-02");
}

.bodyLong01 {
  @include type.type-style("body-long-01");
}

.bodyLong02 {
  @include type.type-style("body-long-02");
}

.label01 {
  @include type.type-style("label-01");
}

.text02 {
  color: $text-02;
}

aside {
  background-color: $ui-02 !important;
}

.container {
  padding: layout.$spacing-07;
}

.formContainer {
  height: calc(100vh - 100px) !important;
  overflow: scroll;
  padding: 0 1rem;
}

.verticalForm {
  display: flex;
  grid-row-gap: 2em;
  padding-top: layout.$spacing-05;
  align-content: space-between;
  flex-direction: column;

  :global(.cds--form-item) {
    flex: none !important;
  }

  :global(.cds--label) {
    color: black;
    display: inline-block;
    font-size: var(--cds-label-01-font-size);
    font-weight: bold;
    letter-spacing: var(--cds-label-01-letter-spacing, .32px);
    line-height: layout.$spacing-05;
    margin-bottom: layout.$spacing-03;
    vertical-align: baseline;
  }
}
