@import './index.var.scss';
@import 'carbon-components/scss/globals/scss/colors';
@import 'carbon-components/scss/globals/scss/theme';
@import 'carbon-components/scss/globals/scss/spacing';


.productiveHeading02 {
  @include carbon--type-style("productive-heading-02");
  
}

.productiveHeading03 {
  @include carbon--type-style("productive-heading-03");
  margin-bottom: 0;
  margin-top: 0;
  
}

.productiveHeading04 {
  @include carbon--type-style("productive-heading-04");
}

.bodyLong01 {
  @include carbon--type-style("body-long-01");
}

.bodyShort01 {
  @include carbon--type-style("body-short-01");
}

.bodyShort02 {
  @include carbon--type-style("body-short-02");
}

.text02 {
  color: $text-02;
}

.label01 {
  @include carbon--type-style("label-01");
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: grid;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9000;
  justify-items: center;
  align-items: center;
}

.flex {
  display: flex;
}

.listDetailsPage {
  display: grid;
  grid-template-columns: 1fr auto;
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid $ui-03;
  padding: $spacing-05 0 $spacing-05 $spacing-05;
}

.marginTop {
  margin-top: $spacing-03;
}

.actionsButtonText {
  @include carbon--type-style("body-short-01");
  color: $interactive-01;
}

.tableContainer {
  //padding: 0 $spacing-05 $spacing-05;
}

.searchContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
 // margin-top: $spacing-05;
}

.searchContainer > div {
  align-self: center;
  justify-self: end;
}

.searchOverrides {
  width: 100%;
  max-width: 250px;
  border: 0px !important;
  display: none;
}

div.tableOverride {
  background-color: $ui-01;
}

div.tableOverride > div {
  //white-space: nowrap;
  padding: 0px !important;
}

div#table-tool-bar {
  margin-top: $carbon--spacing-09;
}

.desktopRow,
.desktopHeader {
  height: $spacing-07 !important;
}

.tabletRow,
.tabletHeader {
  height: $spacing-09 !important;
}

.paginationOverride {
  background-color: $ui-background;
  //border-top: 1px solid $ui-03 !important;
  //border-bottom: 1px solid $ui-03 !important;
  border: 1px solid $ui-03 !important;
  overflow-x: hidden;
}

.paginationOverride > div {
  background-color: $ui-background;
  border-bottom: 0px !important;
  border-top: 0px !important;
}

.link {
  text-decoration: none;
}

.dataTableSkeleton {
  background-color: transparent;
  padding: 0rem;
}

.whiteSpacePreWrap{
  white-space: pre-wrap;
}

