@use '@carbon/styles/scss/colors';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';

section {
  margin: spacing.$spacing-03;
}

.sectionTitle {
  @include type.type-style('heading-compact-02');
  color: colors.$gray-70;
  margin-bottom: spacing.$spacing-04;
}

.modalBody {
  padding-bottom: spacing.$spacing-05;
}
